* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(45deg, #fd746c, #ff9068);
}

.todo-container {
  margin: 60px auto;
  background-color: white;
  width: 45%;
  height: 80vh;
  border-radius: 10px;
  padding: 20px;
}

.title h1 {
  text-align: center;
  font-size: 2.7rem;
  font-family: 'Permanent Marker', cursive;
  color: dimgrey;
}

.form-body {
  width: 60%;
  margin: 0 auto;
}
.form-body form {
  display: flex;
  flex-direction: column;
}
.form-body input,
.form-body textarea {
  padding: 10px;
  border-radius: 5px;
  resize: none;
  margin: 10px 0px;
}

.body-container {
  height: 40%;
  margin-top: 15px;
  overflow-y: scroll;
  padding: 20px 20px;
}

.todo-details {
  margin-bottom: 10px;
  background: linear-gradient(45deg, #fd746c, #ff9068);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #fff;
}
.description {
  font-size: 1.1rem;
  color: #d5cfcf;
}

.todo-delete {
  color: white;
  font-size: 1.3rem;
}
input[type='checkbox'] {
  background-color: #fff;
  margin: 0;
  color: #fd746c;
  width: 15px;
  height: 15px;
  border: 0.15em solid #fd746c;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}
